body{
	margin: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Quicksand', sans-serif;
	color: black;
}

a{
	text-decoration: none;
	color: #2185A7;
	font-size: 1.5em;
}